 <!-- Web229_Raisa Amin_301114834-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content of pages-->
  <main class="container">
    <div class="jumbotron">
      
      <h3 class="display-4">Welcome to the <%= title %> page</h3>
    </div>
    <%- include partials/home.ejs %>
    <%- include partials/about.ejs %> 
    <%- include partials/projects.ejs %> 
    <%- include partials/services.ejs %> 
    <%- include partials/contact_me.ejs %> 
    <%- include partials/bottom_nav.ejs %>  
    <%- include partials/footer.ejs %>
</main>
</body>
</html>
<!-- Web229_Raisa Amin_301114834_12/02/2021-->